<div class="flex justify-between items-center px-4 py-2 bg-white border-b-2 border-gray-300">
    <div class="flex cursor-pointer">
        <img src="quicgear.png" alt="Logo" class="max-w-56 max-h-32" />
    </div>
    <div class="flex">
            <div class="flex justify-center items-center space-x-4 mr-4">
            <span class="iconify text-black w-6 h-6 cursor-pointer" data-icon="solar:heart-bold" data-inline="false"></span>
            <span class="iconify text-black w-6 h-6 cursor-pointer" data-icon="mynaui:cart-solid" data-inline="false"></span>
          </div>
      
          <div class="flex items-center justify-center cursor-pointer">
              <div class="flex w-10 h-10 rounded-full justify-center items-center border-2 border-black p-1">
                <span class="iconify text-black w-6 h-6" data-icon="clarity:avatar-solid" data-inline="false"></span>
              </div>
          </div>
    </div>
</div>
