<div>
    <app-login *ngIf="appStateService.getComponentToShow() == 'login'"
        (onSubmitLoginEvent)="onLogin($event)"
        (onSubmitRegisterEvent)="onRegister($event)"
    />
    <div *ngIf="appStateService.getComponentToShow() == 'main'" class="flex mt-5">
        <div class="w-full flex justify-center items-center cursor-pointer">
            <owl-carousel-o [options]="carouselOptions" class="w-[90%] rounded-md shadow-md overflow-hidden">
              <ng-template carouselSlide *ngFor="let image of carouselImages">
                <div class="w-full h-80 overflow-hidden">
                  <img
                    [src]="image"
                    class="w-full h-full object-cover object-center transition-transform duration-500 ease-in-out hover:scale-105"
                    alt="Carousel Image"
                  />
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
          
    </div>
</div>